
@require '~vuetify/src/stylus/settings/_theme'
// overwrite theme variables here...

$material-light.background = #FFFFFF
// $body-font-family = 'Raleway'
// $alert-font-size = 18px

@import '~vuetify/src/stylus/main'
